@keyframes dropDownAnimation {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
    
}

.animation {
    animation: dropDownAnimation 300ms ease-in-out forwards;
    transform-origin: top center;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-toggle {
    background-color: rgb(19, 50, 54);
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
    padding: 10px;
    border-radius: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    border: 1px solid rgba(19, 50, 54, 0.3);
    border-radius: 5px;
    z-index: 1;
}

.dropdown-item {
    display: block;
    text-decoration: none;
    font-family: monospace;
    font-size: 14px;
    color: black;
    padding: 12px 16px;
}

.dropdown-item:hover {
    background-color: rgba(19, 50, 54, 0.3);
}